/eigen
/pybind11
/build
/tp2
/.vscode
/bin
/etc
/lib
/lib64
pyvenv.cfg
/share
/.idea
/data/train.csv
.venv/
*.so
src/eigen.cpp
notebooks/datos/X_test.csv
notebooks/datos/X_train.csv
notebooks/datos/y_train.csv
notebooks/datos/y_test.csv
src/test
